.inputTask {
  height: 25px;
  min-width: 215px;

  margin-right: 15px;
  padding: 5px;

  border: 1px solid #00bfff;
  border-radius: 5px;
}

.btnAddTask:hover {
  background-color: #00bfff;
}
.btnAddTask {
  transition: 0.3s;
  background-color: transparent;
}
